body{
    margin: 1.5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.container{
    height: 200px;
    width: 500px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    border-radius: 1em;

}

#affichage{
    font-size: 6em;
    color: white;
    font-family: cursive;
}

button{
    margin-bottom: 1em;
    font-size: 1em;
    border-radius: 0.5em;
    padding: 0.5em;
    box-shadow: 0px 0px 6px 2px silver;
    border: 1px solid silver;
    cursor: pointer;
    font-family: cursive;
    background-color: rgba(226, 224, 224, 0.986);
    transition: all 0.5s ease;
}

button:hover{
    background-color: rgba(172, 171, 171, 0.986);
}

#go{
    color: green;
}

#reset{
    color: red;
}